.cover__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin: 0 412px 0;
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 1278px) {
  .cover__subtitle {
    margin: 0 332px 195px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__subtitle {
    margin: 0 204px 115px;
  }
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    margin: 0 16px 33px;
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    font-weight: 400;
  }
}
