.header__logo {
  width: 176px;
  height: 52px;
  flex-basis: 50%;
}

.header__logo:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .header__logo {
    max-width: 142px;
    min-height: 42px;
  }
}
