.footer {
  display: flex;
  margin: 0 48px 0;
  padding-bottom: 24px;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .footer {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    margin: 0 0 0 16px;
  }
}
