.footer {
  display: flex;
  margin: 0 48px 0;
  padding-bottom: 24px;
  justify-content: space-between;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1023px) {
  .footer {
    margin: 0 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    margin: 0 0 0 16px;
  }
}
